/* top navi site start */
.top-header {
  margin: auto;
  max-width: 45em;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-title {
  background-image: url(../favicon.ico);
  background-size: cover;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  color: transparent;
}

.site-title,
.nav-item {
  padding: 0.4em;
}

.nav-item {
  border-top: 2px solid #cacaca;
  display: inline-block;
  margin-left: 0.5em;
}

/* top navi site end */
/* tag categories begin */
.tags-url,
.categories-url,
.publish-date {
  display: inline-block;
  background-image: none;
  margin-top: 0.3em;
  margin-left: 0.7em;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

.datetime-span {
  font-family: "LatoItalic", "Lato", "Geneva", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  white-space: nowrap;
}

.categories-url {
  color: #eaecef;
  background-color: #586069;
}

.tags-url {
  color: #586069;
  background-color: #eaecef;
}

/* tag categories end */
p {
  margin-block-start: 1.6em;
  margin-block-end: 1.6em;
}

/*  code pre begin */
pre {
  font-family: Iosevka, Consolas, "Source Code Pro", Menlo, monospace;
  font-size: 0.8rem;
  border-radius: 1px;
  border: 1px solid #eaecef;
  tab-size: 4;
  padding: 1rem;
  margin: 0.8rem 0;
  line-height: 1.4em;
  word-spacing: inherit;
}

code, pre {
  font-family: Iosevka, Consolas, "Source Code Pro", Menlo, monospace;
  font-size: 0.8rem;
  text-indent: 0;
  overflow: auto;
  background-color: #f6f8fa;
}

p code {
  border-radius: 1px;
  border: 1px solid #eaecef;
  padding: 0.1em 0.5em;
}

/*  code pre end */
/* table begin */
td,
th {
  padding: 0.3em 1em;
}

th {
  font-weight: bold;
}

thead {
  border-top: #dfe2e5 2px solid;
  border-bottom: #dfe2e5 1px solid;
}

tbody {
  border-bottom: #dfe2e5 1px solid;
}

table {
  margin: 1em auto;
  border-collapse: collapse;
}

/* table end */
/* definition start */
dl {
  border-radius: 1px;
  border: 1px solid #eaecef;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

dt {
  padding-bottom: 0.4em;
  padding-top: 1em;
  color: #586069;
  font-weight: bold;
  border-top: #eaecef 1px solid;
}

dd {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  margin-inline-start: 2em;
}

dd ol,
dd ul {
  padding-left: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

dd p {
  margin-block-start: 0;
  margin-block-end: 0;
}

dd pre {
  margin: 0;
}

/* definition start */
/* image begin */
img {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* image end */
/* blockquote begin */
blockquote {
  display: block;
  border: #eaecef 1px solid;
  margin-block-start: 0;
  margin-block-end: 0.5em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 2em;
  padding-inline-end: 2em;
}

/* blockquote end */
blockquote, dl {
  border-left: 3px solid #c0363f;
}

/*  content paragraph begin */
h1 {
  text-align: center;
  margin: 2em 0;
  font-size: 2.3em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "LatoBoldItalic", "Lato", "Geneva", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  text-align: center;
  font-size: 1.8em;
  border-bottom: 1px dotted #eaecef;
  padding-bottom: 0.4em;
  margin-top: 4em;
}

h3 {
  font-size: 1.3em;
  margin-block-start: 2.5em;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.content {
  width: 90%;
  margin: 5em auto 3em;
  max-width: 45em;
  text-align: left;
  color: #000;
  font-weight: 400;
  font-size: 0.95em;
  font-family: "Lato", "Geneva", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Math {
  font-size: 0.9em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-block-start: 0.8em;
  padding-block-end: 0.8em;
  overflow: auto;
}

.Math-Formula {
  text-align: center;
}

article {
  line-height: 1.6em;
}

em {
  font-family: "LatoItalic", "Lato", "Geneva", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 1px;
  border: 1px solid #eaecef;
  padding: 0.2em;
  margin: 0 0.3em 0 0.3em;
  font-style: normal;
  text-emphasis-style: none;
}

a,
header #header h1 a,
article .title a,
article .meta .tags a,
article .divider a {
  text-decoration: none;
  color: #bb2222;
}

.site-title:hover,
.nav-item:hover {
  background-color: #f0f0f0;
  border-top-color: #b0b0b0;
}

article a {
  text-decoration: none;
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 100% 4px;
  color: #bb2222;
}

/* content paragraph end */
/* collection start */
.collection {
  padding-left: 0;
  text-indent: 0;
}

.collection-set {
  margin: auto;
}

.grid-cell {
  -webkit-box-flex: 1;
  flex: 1;
}

.post-item {
  align-content: center;
  display: flex;
  list-style: none;
  margin-top: 1em;
}

.post-item-time {
  flex: 20%;
  text-align: right;
  color: #999;
}

.post-item-title {
  flex: none;
  flex: 41.8% !important;
}

.cloud {
  display: flex;
  flex-wrap: wrap;
}

.cloud-item {
  font-family: "LatoItalic", "Lato", "Geneva", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 0.8em;
  margin-right: 0.8em;
}

.cloud a {
  color: #999;
}

.tag-title a {
  color: #586069;
}

.tag-title {
  flex: 1;
  display: flex;
  margin-top: 3em;
  justify-content: space-between;
}

.tag-title-left {
  flex: 20%;
  text-align: right;
  font-size: 1.5em;
  font-family: "LatoBoldItalic", "Lato", "Geneva", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.tag-title-right {
  flex: 41.8%;
  text-align: left;
  color: #999999;
}

.lc-info {
  margin-top: 0;
}

.lc-left {
  text-align: right;
  padding-right: 1em;
}

.lc-right {
  text-align: left;
  padding-left: 1em;
}

/* collection end */
/* cjk with english */
html.han-la hanla:after {
  content: " ";
  display: inline;
  font-family: Arial;
  font-size: 0.8em;
}

html.han-la code hanla,
html.han-la pre hanla,
html.han-la kbd hanla,
html.han-la samp hanla {
  display: none;
}

html.han-la ol > hanla,
html.han-la ul > hanla {
  display: none;
}

/* cjk with english */
/* reponsive begin */
@media only screen and (min-width: 769px) {
  .content {
    padding-left: 2em;
    padding-right: 2em;
  }
}
@media only screen and (max-width: 768px) {
  .content {
    padding: 2em 1em;
    margin-top: 1em;
    /*font-size: 0.9em;*/
  }

  .post-item-title {
    margin-left: 1.3em;
  }

  .post-item-time {
    flex: 25%;
    text-align: right;
  }

  .post-item-title {
    flex: 51.8% !important;
  }

  .tag-title {
    margin-top: 3em;
    flex-direction: column;
  }

  .tag-title-left {
    flex: 1;
    text-align: center;
    font-size: 1.4em;
  }

  .tag-title-right {
    text-align: center;
  }

  dl {
    grid-template-columns: none;
    display: block;
  }

  dt {
    max-width: 40em;
  }
}
@media only screen and (max-width: 500px) {
  .content {
    padding: 2em 0.2em;
    margin-top: 0.2em;
    /*font-size: 0.9rem;*/
  }

  .post-item-time {
    flex: 1;
    text-align: right;
  }

  .post-item-title {
    flex: 61.8% !important;
  }

  .tag-title-left {
    text-align: left;
  }

  .tag-title-right {
    text-align: left;
  }
}
/* reponsive end */
@font-face {
  font-family: "LatoLatin";
  src: url("../font/LatoLatin.woff2") format("woff2"), url("../font/LatoLatin.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  src: url("../font/Lato-Regular.woff2") format("woff2"), url("../font/Lato-Regular.woff") format("woff");
}
@font-face {
  font-family: "LatoItalic";
  src: url("../font/Lato-Italic.woff2") format("woff2"), url("../font/Lato-Italic.woff") format("woff");
}
@font-face {
  font-family: "LatoBold";
  src: url("../font/Lato-Bold.woff2") format("woff2"), url("../font/Lato-Bold.woff") format("woff");
}
@font-face {
  font-family: "LatoBoldItalic";
  src: url("../font/Lato-BoldItalic.woff2") format("woff2"), url("../font/Lato-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "LUCIDA";
  src: url("../font/lucida.woff2") format("woff2"), url("../font/lucida.woff") format("woff");
}
@font-face {
  font-family: "firasans-book";
  src: url("../font/firasans-book.woff2") format("woff2"), url("../font/firasans-book.woff") format("woff");
}
@font-face {
  font-family: "firasans-italic";
  src: url("../font/firasans-italic.woff2") format("woff2"), url("../font/firasans-italic.woff") format("woff");
}

/*# sourceMappingURL=kitto.css.map */
