//color
$grey-black : #586069;
$grey-white : #eaecef;
$grey-border : #dfe2e5;
$black : #000;
$red : #bb2222;
$onevcat-red: #c0363f;
$light-blue: #0086b3;
$github-background-grey: #f6f8fa;

$width: 45em;

//style
$thin-border : $grey-border 1px solid;
$bold-border : $grey-border 2px solid;

//font
$mono-font : Iosevka, Consolas, 'Source Code Pro', Menlo, monospace;
$normal-font : 'Lato', 'Geneva', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$title-font : 'LatoBoldItalic', $normal-font;
$time-font : 'LatoItalic', $normal-font;
$italic-font : 'LatoItalic', $normal-font;

//mixin
//字符边框
@mixin word-margin-padding {
    margin-top: .3em;
    margin-left: .7em;
    padding-left: .4em;
    padding-right: .4em;
}

//代码样式
@mixin code-format {
    font-family: $mono-font;
    font-size: .8rem;
    font-weight: 200;
}

@mixin normal-font-format {
    color: $black;
    font-weight: 400;
    font-size: .95em;
    font-family: $normal-font;
}

//边框样式
@mixin pre-border {
    border-radius: 1px;
    border: 1px solid $grey-white;
}

//居中对齐
@mixin block-align-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/* top navi site start */
.top-header {
    margin: auto;
    max-width: $width;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-title {
    background-image: url(../favicon.ico);
    background-size: cover;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    color: transparent;
}

.site-title,
.nav-item {
    padding: .4em;
}

.nav-item {
    border-top: 2px solid #cacaca;
    display: inline-block;
    margin-left: .5em;
}
/* top navi site end */

/* tag categories begin */
.tags-url,
.categories-url,
.publish-date {
    display: inline-block;
    background-image: none;
    @include word-margin-padding();
}

.datetime-span {
    font-family: $time-font;
    display: inline-block;
    white-space: nowrap;
}

.categories-url {
    color: $grey-white;
    background-color: $grey-black;
}

.tags-url {
    color: $grey-black;
    background-color: $grey-white;
}

/* tag categories end */

p {
    margin-block-start: 1.6em;
    margin-block-end: 1.6em;
}

/*  code pre begin */
pre {
    @include code-format();
    @include pre-border();
    tab-size: 4;
    padding: 1rem;
    margin: .8rem 0;
    line-height: 1.4em;
    word-spacing: inherit;
}

code, pre {
    @include code-format();
    text-indent: 0;
    overflow: auto;
    background-color: $github-background-grey;
}

p code {
    @include pre-border();
    padding: .1em .5em;
}

/*  code pre end */

/* table begin */
td,
th {
    padding: .3em 1em;
}

th {
    font-weight: bold;
}

thead {
    border-top: $bold-border;
    border-bottom: $thin-border;
}

tbody {
    border-bottom: $thin-border;
}

table {
    margin: auto;
    border-collapse: collapse;
}
/* table end */

/* definition start */
dl {
    @include pre-border();
    margin-block-start: 0;
    margin-block-end: 0;
    padding-left: .8em;
    padding-right: .8em;
}

dt {
    padding-bottom: .4em;
    padding-top: 1em;
    color: #586069;
    font-weight: bold;
    border-top: $grey-white 1px solid;
}

dd {
    margin-bottom: .5em;
    margin-top: .5em;
    margin-inline-start: 2em;
}

dd ol,
dd ul {
    padding-left: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

dd p {
    margin-block-start: 0;
    margin-block-end: 0;
}
dd pre {
    margin: 0;
}
/* definition start */

/* image begin */
img {
    width: 80%;
    @include block-align-center();
}

/* image end */


/* blockquote begin */
blockquote {
    display: block;
    //background-color: $grey-white;
    border: $grey-white 1px solid;
    //border-left: $grey-black 1px solid;
    margin-block-start: 0;
    margin-block-end: .5em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    // padding-block-start: 1em;
    // padding-block-end: 1em;
    padding-inline-start: 2em;
    padding-inline-end: 2em;
}

/* blockquote end */

blockquote, dl {
    border-left: 3px solid $onevcat-red
}

/*  content paragraph begin */
h1 {
    text-align: center;
    margin: 2em 0;
    //color: #586069;
    font-size: 2.3em;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $title-font;
}

h2 {
    text-align: center;
    font-size: 1.8em;
    border-bottom: 1px dotted #eaecef;
    padding-bottom: .4em;
    margin-top: 4em;
    //color: #586069;
}

h3 {
    font-size: 1.3em;    
    //color: #586069;
    margin-block-start: 2.5em;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.content {
    width: 90%;
    margin: 5em auto 3em;
    max-width: $width;
    text-align: left;
    //text-align: justify;
    @include normal-font-format();
}

.Math {
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .9em;
    padding-left: .3em;
    padding-right: .3em;
    padding-block-start: .8em;
    padding-block-end: .8em;
    overflow: auto;
}

.Math-Formula {
    text-align: center;
}

article {
    line-height: 1.6em;
}

em {
    font-family: $italic-font;
    @include pre-border();
    padding: .2em;
    margin: 0 .3em 0 .3em;
    font-style: normal;
    text-emphasis-style: none;
}

a,
header #header h1 a,
article .title a,
article .meta .tags a,
article .divider a {
    text-decoration: none;
    color: $red;
}

.site-title:hover,
.nav-item:hover {
    background-color: #f0f0f0;
    border-top-color: #b0b0b0
}

article a {
    text-decoration: none;
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 100% 4px;
    color: $red;
    //background-image: linear-gradient(transparent,transparent 3.5px,#000 3.5px, $grey-white calc(3.5px + .5pt),transparent calc(3.5px + .5pt),transparent);
}

/* content paragraph end */

/* collection start */ 
.collection {
    padding-left: 0;
    text-indent: 0;
}

.collection-set {
    margin: auto;
}

.grid-cell {
    -webkit-box-flex: 1;
    flex: 1;
}

.post-item {
    align-content: center;
    display: flex;
    list-style: none;
    margin-top: 1em;
}

.post-item-time {
    flex: 20%;
    text-align: right;
    color: #999;
}



.post-item-title {
    flex: none;
    flex: 41.8% !important;
}

.cloud {
    display: flex;
    flex-wrap: wrap;
}

.cloud-item {
    font-family: $italic-font;
    margin-left: .8em;
    margin-right: .8em;
}

.cloud a {
    color: #999;
}

.tag-title a {
    color: #586069;
}

.tag-title {
    flex: 1;
    display: flex;
    margin-top: 3em;
    justify-content: space-between;
}

.tag-title-left {
    flex: 20%;
    text-align: right;
    font-size: 1.5em;
    font-family: $title-font;
}

.tag-title-right {
    flex: 41.8%;
    text-align: left;
    color: #999999;
}

.lc-info {
    margin-top: 0;
}

.lc-left {
    text-align: right;
    padding-right: 1em;
}

.lc-right {
    text-align: left;
    padding-left: 1em;
}
/* collection end */


/* cjk with english */
html.han-la hanla:after {
    content: " ";
    display: inline;
    font-family: Arial;
    font-size: 0.8em;
}

html.han-la code hanla,
html.han-la pre hanla,
html.han-la kbd hanla,
html.han-la samp hanla {
    display: none;
}

html.han-la ol>hanla,
html.han-la ul>hanla {
    display: none;
}
/* cjk with english */


/* reponsive begin */
@media only screen and (min-width: 769px) {
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }
}

@media only screen and (max-width: 768px) {
    .content {
        padding: 2em 1em;
        margin-top: 1em;
        font-size: .9em;
    }

    .post-item-title {
        margin-left: 1.3em;
    }

    .post-item-time {
        flex: 25%;
        text-align: right;
    }

    .post-item-title {
        flex: 51.8% !important;
    }

    .tag-title {
        margin-top: 3em;
        flex-direction: column;
    }

    .tag-title-left {
        flex: 1;
        text-align: center;
        font-size: 1.4em;
    }

    .tag-title-right {
        text-align: center;
    }

    dl {
        grid-template-columns: none;
        display: block;
    }

    dt {
        max-width: 40em;
    }
}

@media only screen and (max-width: 500px) {
    .content {
        padding: 2em .2em;
        margin-top: .2em;
        font-size: .9rem;
    }

    .post-item-time {
        flex: 1;
        text-align: right;
    }

    .post-item-title {
        flex: 61.8% !important;
    }

    .tag-title-left {
        text-align: left;
    }

    .tag-title-right {
        text-align: left;
    }
}

/* reponsive end */


@font-face {
    font-family: "LatoLatin";
    src: url("../font/LatoLatin.woff2") format("woff2"),
        url("../font/LatoLatin.woff") format("woff")
}

@font-face {
    font-family: "Lato";
    src: url("../font/Lato-Regular.woff2") format("woff2"),
        url("../font/Lato-Regular.woff") format("woff")
}

@font-face {
    font-family: "LatoItalic";
    src: url("../font/Lato-Italic.woff2") format("woff2"),
        url("../font/Lato-Italic.woff") format("woff")
}

@font-face {
    font-family: "LatoBold";
    src: url("../font/Lato-Bold.woff2") format("woff2"),
        url("../font/Lato-Bold.woff") format("woff")
}

@font-face {
    font-family: "LatoBoldItalic";
    src: url("../font/Lato-BoldItalic.woff2") format("woff2"),
        url("../font/Lato-BoldItalic.woff") format("woff")
}

@font-face {
    font-family: "LUCIDA";
    src: url("../font/lucida.woff2") format("woff2"),
        url("../font/lucida.woff") format("woff")
}

@font-face {
    font-family: "firasans-book";
    src: url("../font/firasans-book.woff2") format("woff2"),
        url("../font/firasans-book.woff") format("woff");
}

@font-face {
    font-family: "firasans-italic";
    src: url("../font/firasans-italic.woff2") format("woff2"),
        url("../font/firasans-italic.woff") format("woff");
}
