<!DOCTYPE html>
<html lang="zh-Hans" class="han-init">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ .Site.Title }} - {{ .Page.Title }}</title>
    <link rel="stylesheet" href="{{ `assets/han.css` | relURL }}">
    <link rel="stylesheet" href="{{ `assets/normalize.css` | relURL }}">
    <link rel="stylesheet" href="{{ `assets/style.css` | relURL }}">
    <link rel="stylesheet" href="{{ `assets/syntax.css` | relURL }}">
    <script src="{{ `assets/anchor.min.js` | relURL }}"></script>
</head>

<body>
    <div class="content index width mx-auto px2 my4">
        {{ partial "header.html" . }}
        <div>
            {{ block "main" . }}
            {{ end }}
        </div>
        <div id="footer" class="pt-2 pb-3 bg-white text-center">
            {{ partial "footer.html" . }}
        </div>
    </div>

    <!-- Scripts -->
    <script>anchors.add();</script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript" src="{{ `assets/han.js` | relURL }}"></script>
    <!-- MathJax -->
    <script type="text/x-mathjax-config">MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });
    </script>
    <script>
        anchors.options = {
            placement: 'left',
        };
        anchors.add();
        anchors.add(".tag-title-left");
      </script>
</body>

</html>