<!DOCTYPE html>
<html lang="zh-Hans" class="han-la">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ .Page.Title }} - {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ `css/normalize.css` | relURL }}">
    <link rel="stylesheet" href="{{ `css/style.css` | relURL }}">
    <link rel="stylesheet" href="{{ `css/syntax.css` | relURL }}">
    <link rel="stylesheet" href="{{ `css/kitto.css` | relURL }}">
    <script src="{{ `js/anchor.min.js` | relURL }}"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ `js/text-autospace.js` | relURL }}"></script>
</head>

<body>
    <div class="content width">
        {{ partial "header.html" . }}
        <div>
            {{ block "main" . }}
            {{ end }}
        </div>
        <div id="footer" class="pt-2 pb-3 bg-white text-center">
            {{ partial "footer.html" . }}
        </div>
    </div>

    <!-- Scripts -->
    <script>
        anchors.add();
    </script>
    <script>
        anchors.options = {
            placement: 'left',
        };
        anchors.add();
        anchors.add(".tag-title-left");
    </script>
    <script src="/js/mathjax.js"></script>
</body>

</html>