/* tag categories begin */
.tags-url,
.categories-url,
.publish-date {
  display: inline-block;
  background-image: none;
  margin-top: 0.3em;
  margin-left: 0.7em;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

.datetime-span {
  display: inline-block;
  white-space: nowrap;
}

.categories-url {
  color: #eaecef;
  background-color: #586069;
}

.tags-url {
  color: #586069;
  background-color: #eaecef;
}

/* tag categories end */
/*  code pre begin */
pre {
  font-family: Iosevka, Consolas, "Source Code Pro", Menlo, monospace;
  font-size: 0.8rem;
  font-weight: 200;
  border-radius: 1px;
  border: 1px solid #eaecef;
  tab-size: 4;
  padding: 1rem;
  margin: 0.8rem 0;
  line-height: 1.4em;
  word-spacing: inherit;
}

code, pre {
  font-family: Iosevka, Consolas, "Source Code Pro", Menlo, monospace;
  font-size: 0.8rem;
  font-weight: 200;
  text-indent: 0;
  overflow: auto;
}

p code {
  border-radius: 1px;
  border: 1px solid #eaecef;
  padding: 0.1em 0.5em;
}

/*  code pre end */
/* table begin */
td,
th {
  padding: 0.3em 1em;
}

th {
  font-weight: bold;
}

thead {
  border-top: #dfe2e5 2px solid;
  border-bottom: #dfe2e5 1px solid;
}

tbody {
  border-bottom: #dfe2e5 1px solid;
}

table {
  margin: auto;
  border-collapse: collapse;
}

/* table end */
/* definition start */
dl {
  border-radius: 1px;
  border: 1px solid #eaecef;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-top: 0.8em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

dt {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding-top: 0.1em;
  color: #586069;
  font-weight: bold;
}

dd {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  margin-inline-start: 2em;
}

dd ol,
dd ul {
  padding-left: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

dd p {
  margin-block-start: 0;
  margin-block-end: 0;
}

dd pre {
  margin: 0;
}

/* definition start */
/* image begin */
img {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* image end */
/*  content paragraph begin */
h1 {
  text-align: center;
  margin: 2em 0;
  color: #586069;
}

h2 {
  border-bottom: 2px solid #eaecef;
  padding-bottom: 0.2em;
  margin-top: 1.5em;
  color: #586069;
}

.content {
  width: 90%;
  margin: 5em auto 3em;
  max-width: 38rem;
  text-align: justify;
  color: #000;
  font-weight: 400;
  font-size: 0.95em;
  font-family: "Geneva", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

article {
  line-height: 1.6em;
}

em {
  font-style: normal;
  color: #000;
  text-decoration: underline;
  text-decoration-color: #ccc;
  text-emphasis-style: none;
}

article a {
  text-decoration: none;
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 100% 6px;
  color: #000;
  background-image: linear-gradient(transparent, transparent 3.5px, #000 3.5px, #000 calc(3.5px + .5pt), transparent calc(3.5px + .5pt), transparent);
}

/* content paragraph end */
/* cjk with english */
html.han-la hanla:after {
  content: " ";
  display: inline;
  font-family: Arial;
  font-size: 0.8em;
}

html.han-la code hanla,
html.han-la pre hanla,
html.han-la kbd hanla,
html.han-la samp hanla {
  display: none;
}

html.han-la ol > hanla,
html.han-la ul > hanla {
  display: none;
}

/* cjk with english */
/* reponsive begin */
@media only screen and (min-width: 769px) {
  .content {
    padding-left: 2em;
    padding-right: 2em;
  }
}
@media only screen and (max-width: 768px) {
  .content {
    padding: 2em 1em;
    margin-top: 1em;
    font-size: 0.9em;
  }

  .post-item-title {
    margin-left: 1.3em;
  }

  .post-item-time {
    flex: 25%;
    text-align: right;
  }

  .post-item-title {
    flex: 51.8% !important;
  }

  .tag-title {
    margin-top: 3em;
    flex-direction: column;
  }

  .tag-title-left {
    flex: 1;
    text-align: center;
    font-size: 1.4em;
  }

  .tag-title-right {
    text-align: center;
  }

  dl {
    grid-template-columns: none;
    display: block;
  }

  dt {
    max-width: 40em;
  }
}
@media only screen and (max-width: 500px) {
  .content {
    padding: 2em 0.2em;
    margin-top: 0.2em;
    font-size: 0.9rem;
  }

  .post-item-time {
    flex: 1;
    text-align: right;
  }

  .post-item-title {
    flex: 61.8% !important;
  }

  .tag-title-left {
    text-align: left;
  }

  .tag-title-right {
    text-align: left;
  }
}
/* reponsive end */
@font-face {
  font-family: "BOOK";
  src: url("./font/book.woff2") format("woff2"), url("./font/book.woff") format("woff");
}
@font-face {
  font-family: "LUCIDA";
  src: url("./font/lucida_grande.woff2") format("woff2"), url("./font/lucida_grande.woff") format("woff");
}

/*# sourceMappingURL=kitto.css.map */
