.content {
    width: 90%;
    margin: auto;
    max-width: 37rem;
}

.top-header {
    margin: auto;
    max-width: 38rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-title {
    background-image: url(../favicon.ico);
    background-size: cover;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    color: transparent;
}

.site-title,
.nav-item {
    padding: .4em;
}

.nav-item {
    border-top: 2px solid #cacaca;
    display: inline-block;
    margin-left: .5em;
}

.tags-url,
.categories-url,
.publish-date {
    display: inline-block;
    margin-top: .3em;
    margin-left: .7em;
    padding-left: .4em;
    padding-right: .4em;
}

.datetime-span {
    display: inline-block;
    white-space: nowrap;
}

.categories-url {
    color: #eaecef;
    background-color: #586069;
}

.tags-url {
    color: #586069;
    background-color: #eaecef;
}

.collection-set {
    margin: auto;
}

.grid-cell {
    -webkit-box-flex: 1;
    flex: 1;
}

.post-item {
    align-content: center;
    display: flex;
    list-style: none;
    margin-top: 1em;
}

.post-item-time {
    flex: 20%;
    text-align: right;
    color: #999;
}

.post-item-title {
    flex: none;
    flex: 41.8% !important;
}

.cloud {
    display: flex;
    flex-wrap: wrap;
}

.cloud-item {
    margin-left: .8em;
    margin-right: .8em;
}

.cloud a {
    color: #999;
}

.tag-title a {
    color: #586069;
}
ul, li {
    list-style: none;
}
li {
    margin-top: 0.1em;
}
ul, ol {
    padding-left: 1em;
}
li::before {
    content: '\f1ce';
    font-family: "Font Awesome\ 5 Free";
    font-size: .9em;
    color: #999;
    font-weight: 600;
    padding-right: .5em;
}
li ul li::before {
    content: '\f00d';
    margin-right: .3em;
}
li ul li ul li::before {
    margin-left: 1em;
    content: '\f068';
}

article blockquote:lang(zh-Hans),
blockquote:lang(zh-Hans) {
    font-family: "Biaodian Pro Sans GB", "LUCIDA", "Helvetica Neue", Helvetica, Arial, "Han Heiti GB", sans-serif;
    color: #999999;
    padding-left: 1.8em;
    margin: .2em;
    border-left: .2em solid #e5e9f2;
}
h1 {
    text-align: center;
    margin: 2em 0;
    color: #586069;;
}

h2 {
    border-bottom: 2px solid #eaecef;
    padding-top: 1.8em;
    margin-bottom: 1em;
    color: #586069;;
}

.collection {
    padding-left: 0;
}

.tag-title {
    flex: 1;
    display: flex;
    margin-top: 3em;
    justify-content: space-between;
}

.tag-title-left {
    flex: 20%;
    text-align: right;
    font-size: 1.5em;
}

.tag-title-right {
    flex: 41.8%;
    text-align: left;
    color: #999999;
}

img {
    width: 100%;
}

/* page width begin */
.pr2,
.px2 {
    padding-right: 1rem;
}

.pl2,
.px2 {
    padding-left: 1rem;
}

.mr-auto,
.mx-auto {
    margin-right: auto;
}

.ml-auto,
.mx-auto {
    margin-left: auto;
}

.mb4,
.my4 {
    margin-bottom: 3rem;
}

.mt4,
.my4 {
    margin-top: 3rem;
}

/* page width end */


/*  content paragraph begin */
.content {
    color: #586069;
    font-weight: normal;
    font-size: .95em;
    font-family: "Biaodian Pro Sans GB", 'LUCIDA', "Helvetica Neue", Helvetica, Arial, "Han Heiti GB", sans-serif;
}

/* 单独处理逗号 */
h-char {
    font-family: "Biaodian Pro Sans GB", "Helvetica Neue", Helvetica, Arial, "Han Heiti GB", sans-serif;
}


em {
    font-style: normal;
    color: #000;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: #ccc;
    text-emphasis-style: none;
}

/* content paragraph begin */

/*  code pre begin */
pre {
    font-family: Iosevka, Menlo, Consolas, monospace;
    font-size: .9rem;
    tab-size: 4;
    padding: 1rem;
    margin: .8rem 0;
    /* border: 1px solid #7a7a7a; */
    line-height: 1.4em;
    /* background-color: #fef9ed;
    border-bottom: .1em solid #faeabd; */
    border-radius: 2px;
    border: 1px solid #999;
    word-spacing: inherit;
}

code:lang(zh-Hans),
kbd:lang(zh-Hans),
samp:lang(zh-Hans),
pre:lang(zh-Hans),
code:lang(zh-CN),
kbd:lang(zh-CN),
samp:lang(zh-CN),
pre:lang(zh-CN) {
    font-family: Consolas, 'Source Code Pro', Menlo, monospace;
    font-weight: 200;
    font-size: .8rem;
}

p code {
    border-radius: 2px;
    border: 1px solid #586069;
    /* background-color: #fef9ed;
    border-bottom: .1em solid #faeabd; */
    padding: .1em .5em;
}

/*  code pre end */


/* table begin */
td,
th {
    padding: .3em 1em;
}

th {
    font-weight: bold;
}

/* tr:nth-child(even) {
    background: #dfe2e5
} */

thead {
    border-top: #dfe2e5 2px solid;
    border-bottom: #dfe2e5 1px solid;
}

tbody {
    border-bottom: #dfe2e5 1px solid;
}

table {
    margin: auto;
    border-collapse: collapse;
}

/* table end */

.page-info {
    text-align: right;
    margin-top: 2em;
}

.categories-url,
.tags-url,
.publish-date {
    line-height: 1.6rem;
    font-size: 1em;
    font-weight: 400;
}

#footer {
    margin-top: 3em;
    text-align: center;
    font-size: .8rem;
}

a,
header #header h1 a,
article .title a,
article .meta .tags a,
article .divider a {
    text-decoration: none;
    color: #bb2222;
}
.true-content a {
    color: #000000d0;
    border-bottom: 1px #999; 
    border-bottom-style: double;   
    display: inline-block;
    line-height: 1em;
}

.site-title:hover,
.nav-item:hover {
    background-color: #f0f0f0;
    border-top-color: #b0b0b0
}

/* reponsive begin */
@media only screen and (min-width: 769px) {
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }
}

@media only screen and (max-width: 768px) {
    .content {
        padding: 2em 1em;
        margin-top: 1em;
        font-size: .9em;
    }

    .post-item-title {
        margin-left: 1.3em;
    }

    .post-item-time {
        flex: 25%;
        text-align: right;
    }

    .post-item-title {
        flex: none;
        flex: 51.8% !important;
    }

    .tag-title {
        margin-top: 3em;
        flex-direction: column;
    }

    .tag-title-left {
        flex: 1;
        text-align: center;
        font-size: 1.4em;
    }

    .tag-title-right {
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .content {
        padding: 2em .2em;
        margin-top: .2em;
        font-size: .9rem;
    }

    .post-item-time {
        flex: 1;
        text-align: right;
    }

    .post-item-title {
        flex: 61.8% !important;
    }

    .tag-title-left {
        text-align: left;
    }

    .tag-title-right {
        text-align: left;
    }
}

/* reponsive end */



@font-face {
    font-family: "CAMINGO";
    src: url("./font/camingocode.woff2") format("woff2"),
        url("./font/camingocode.woff") format("woff")
}

@font-face {
    font-family: "LUCIDA";
    src: url("./font/lucida_grande.woff2") format("woff2"),
        url("./font/lucida_grande.woff") format("woff")
}

@font-face {
    font-family: "HAN";
    src: url("./font/han.woff2") format("woff2"),
        url("./font/han.woff") format("woff")
}

@font-face {
    font-family: "HAN-SPACE";
    src: url("./font/han-space.woff2") format("woff2"),
        url("./font/han-space.woff") format("woff")
}

@font-face {
    font-family: "BOOK";
    font-stretch: 20%;
    src: url("./font/book.woff2") format("woff2"),
        url("./font/book.woff") format("woff")
}