

.top-header {
    margin: auto;
    max-width: 38rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-title {
    background-image: url(../favicon.ico);
    background-size: cover;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    color: transparent;
}

.site-title,
.nav-item {
    padding: .4em;
}

.nav-item {
    border-top: 2px solid #cacaca;
    display: inline-block;
    margin-left: .5em;
}

.collection-set {
    margin: auto;
}

.grid-cell {
    -webkit-box-flex: 1;
    flex: 1;
}

.post-item {
    align-content: center;
    display: flex;
    list-style: none;
    margin-top: 1em;
}

.post-item-time {
    flex: 20%;
    text-align: right;
    color: #999;
}

.post-item-title {
    flex: none;
    flex: 41.8% !important;
}

.cloud {
    display: flex;
    flex-wrap: wrap;
}

.cloud-item {
    margin-left: .8em;
    margin-right: .8em;
}

.cloud a {
    color: #999;
}

.tag-title a {
    color: #586069;
}

ul,
li {
    display: list-items;
    list-style: none;
}

ol li {
    margin-top: 0.1em;
    counter-increment: item;
}

ul,
ol {
    padding-left: 2em;
    text-indent: -2em;
}

ul li::before {
    content: '\f1ce';
    font-family: "Font Awesome\ 5 Free";
    font-size: .9em;
    color: #999;
    font-weight: 600;
    padding-right: 1.1em;
}

ol li::before {
    content: counter(item) ".  ";
    border-radius: 100%;
    text-align: left;
    font-size: .9em;
    color: #999;
    font-weight: 600;
    padding-right: 1.1em;
}

li ul li::before {
    content: '\f00d';
    margin-right: .3em;
}

li ul li ul li::before {
    margin-left: 1em;
    content: '\f068';
}

.collection {
    padding-left: 0;
}

.tag-title {
    flex: 1;
    display: flex;
    margin-top: 3em;
    justify-content: space-between;
}

.tag-title-left {
    flex: 20%;
    text-align: right;
    font-size: 1.5em;
}

.tag-title-right {
    flex: 41.8%;
    text-align: left;
    color: #999999;
}



.page-info {
    text-align: right;
    margin-top: 2em;
}

.categories-url,
.tags-url,
.publish-date {
    line-height: 1.6rem;
    font-size: 1em;
    font-weight: 400;
}

#footer {
    margin-top: 3em;
    text-align: center;
    font-size: .8rem;
}

a,
header #header h1 a,
article .title a,
article .meta .tags a,
article .divider a {
    text-decoration: none;
    color: #bb2222;
}

.site-title:hover,
.nav-item:hover {
    background-color: #f0f0f0;
    border-top-color: #b0b0b0
}

/* reponsive begin */
@media only screen and (min-width: 769px) {
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }
}

@media only screen and (max-width: 768px) {
    .content {
        padding: 2em 1em;
        margin-top: 1em;
        font-size: .9em;
    }

    .post-item-title {
        margin-left: 1.3em;
    }

    .post-item-time {
        flex: 25%;
        text-align: right;
    }

    .post-item-title {
        flex: 51.8% !important;
    }

    .tag-title {
        margin-top: 3em;
        flex-direction: column;
    }

    .tag-title-left {
        flex: 1;
        text-align: center;
        font-size: 1.4em;
    }

    .tag-title-right {
        text-align: center;
    }

    dl {
        grid-template-columns: none;
        display: block;
    }

    dt {
        max-width: 40em;
    }
}

@media only screen and (max-width: 500px) {
    .content {
        padding: 2em .2em;
        margin-top: .2em;
        font-size: .9rem;
    }

    .post-item-time {
        flex: 1;
        text-align: right;
    }

    .post-item-title {
        flex: 61.8% !important;
    }

    .tag-title-left {
        text-align: left;
    }

    .tag-title-right {
        text-align: left;
    }
}

/* reponsive end */
