.content {
    width: 90%;
    margin: auto;
    max-width: 37rem;
}

.top-header {
    margin: auto;
    max-width: 38rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-title, .nav-item {
    border-top: 2px solid #cacaca;
    padding: .4em .1em;
}

.nav-item {
    display: inline-block;
    margin-left: .5em;
}

.tags-url,
.categories-url,
.publish-date {
    display: inline-block;
    margin-top: .3em;
    margin-left: .7em;
    padding-left: .4em;
    padding-right: .4em;
}
.datetime-span {
    display:inline-block;
    white-space: nowrap;
}

.categories-url {
    color: #eaecef;
    background-color: #586069;
}

.tags-url {
    color: #586069;
    background-color: #eaecef;
}

.post-item {
    align-content: center;
    display: flex;
    margin-left: 2.3em;
    margin-top: 1em;
}

.post-item-title {
    margin-left: 3em;
}

article blockquote:lang(zh-Hans), blockquote:lang(zh-Hans) {
    font-family: "Biaodian Pro Sans GB", "LUCIDA", "Helvetica Neue", Helvetica, Arial, "Han Heiti GB", sans-serif;
    color: #999999;
    padding-left: 1.8em;
    margin: .2em;
    border-left: .2em solid #e5e9f2;
}

h1 {
    text-align: center;
    margin: 2em 0;
} 
h2 {
    border-bottom: 2px solid #eaecef;
    padding-top: 1.8em;
    margin-bottom: 1em;
}

.collection {
    padding-left: 0;
}
.collect-title, .collect-item {
    list-style-type: none;
    display: flex;
    padding: .4em;
}
.collect-title {
    margin-top: 2em;
    margin-bottom: -.5em;
    font-size: 1.2em;
}
.collect-head {
    margin-top: 2em;
}
.collect-title::before {
    content: "⭠ ";
    color: #ccc;
}
.collect-desc {
    margin-left: 2.2em;
    margin-top: .5em;
    margin-bottom: -.2em;
    color: #999999
    /* text-align: center; */
}
.collect-title a {
    margin-left: .6em;
}


img {
    width: 100%;
}

/* page width begin */
.pr2,
.px2 {
    padding-right: 1rem;
}

.pl2,
.px2 {
    padding-left: 1rem;
}

.mr-auto,
.mx-auto {
    margin-right: auto;
}

.ml-auto,
.mx-auto {
    margin-left: auto;
}

.mb4,
.my4 {
    margin-bottom: 3rem;
}

.mt4,
.my4 {
    margin-top: 3rem;
}

/* page width end */


/*  content paragraph begin */
.content {
    font-weight: normal;
    font-size: .95em;
    font-family: "Biaodian Pro Sans GB", 'LUCIDA', "Helvetica Neue", Helvetica, Arial, "Han Heiti GB", sans-serif;
}

/* 单独处理逗号 */
h-char {
    font-family: "Biaodian Pro Sans GB", "Helvetica Neue", Helvetica, Arial, "Han Heiti GB", sans-serif;
}


em {
    font-style: normal;
    color: #000;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: #ccc;
    text-emphasis-style: none;
}

/* content paragraph begin */

/*  code pre begin */
pre {
    font-family: Iosevka, Menlo, Consolas, monospace;
    font-size: .9rem;
    tab-size: 4;
    padding: .8rem;
    margin: .8rem 0;
    /* border: 1px solid #7a7a7a; */
    line-height: 1.4em;
    background-color: #fef9ed;
    border-bottom: .1em solid #faeabd;
    word-spacing: inherit;
}

code:lang(zh-Hans),
kbd:lang(zh-Hans),
samp:lang(zh-Hans),
pre:lang(zh-Hans),
code:lang(zh-CN),
kbd:lang(zh-CN),
samp:lang(zh-CN),
pre:lang(zh-CN) {
    font-family: Consolas, 'Source Code Pro', Menlo, monospace;
    font-weight: 200;
    font-size: .8rem;
}

p code {
    border-radius: 2px;
    background-color: #fef9ed;
    border-bottom: .1em solid #faeabd;
}

/*  code pre end */


/* table begin */
td,
th {
    padding: .3em 1em;
}

th {
    font-weight: bold;
}

/* tr:nth-child(even) {
    background: #dfe2e5
} */

thead {
    border-top: #dfe2e5 2px solid;
    border-bottom: #dfe2e5 1px solid;
}

tbody {
    border-bottom: #dfe2e5 1px solid;
}

table {
    margin: auto;
    border-collapse: collapse;
}

/* table end */

.page-info {
    text-align: right;
    margin-top: 2em;
}

.categories-url,
.tags-url,
.publish-date {
    line-height: 1.6rem;
    font-size: 1em;
    font-weight: 400;
}

#footer {
    margin-top: 3em;
    text-align: center;
    font-size: .8rem;
}

a,
header #header h1 a,
article .title a,
article .meta .tags a,
article .divider a {
    text-decoration: none;
    color: #bb2222;
}

.site-title:hover, .nav-item:hover {
    background-color: #f0f0f0;
    border-top-color: #b0b0b0
}

/* reponsive begin */
@media only screen and (min-width: 769px) {
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }
}

@media only screen and (max-width: 768px) {
    .content {
        padding: 2em 1em;
        margin-top: 1em;
        font-size: .9em;
    }
    .post-item-title {
        margin-left: 1.3em;
    }    
}

@media only screen and (max-width: 400px) {
    .content {
        padding: 2em .2em;
        margin-top: .2em;
        font-size: .9rem;
    }
}

/* reponsive end */



@font-face {
    font-family: "CAMINGO";
    src: url("./font/camingocode.woff2") format("woff2"),
        url("./font/camingocode.woff") format("woff")
}

@font-face {
    font-family: "LUCIDA";
    src: url("./font/lucida_grande.woff2") format("woff2"),
        url("./font/lucida_grande.woff") format("woff")
}

@font-face {
    font-family: "HAN";
    src: url("./font/han.woff2") format("woff2"),
        url("./font/han.woff") format("woff")
}

@font-face {
    font-family: "HAN-SPACE";
    src: url("./font/han-space.woff2") format("woff2"),
        url("./font/han-space.woff") format("woff")
}

@font-face {
    font-family: "BOOK";
    src: url("./font/book.woff2") format("woff2"),
        url("./font/book.woff") format("woff")
}