{{ define "main" }}

<ul class="collection">
    {{ range .Site.Taxonomies }}
        {{ range . }}
        <div class="tag-title">
            <div class="tag-title-left grid-cell"><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></div>
            <div class="tag-title-center grid-cell"></div>
            <div class="tag-title-right grid-cell"></div>
        </div>
            {{ range .Pages }}
                {{ partial "card.page.html" . }}
            {{ end }}
        {{ end }}
    {{ end }}
</ul>

{{ end }}